.books-text {
  font-family: Sarabun;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
}

hr {
  width: 90%;
  border: 0;
  height: 3px;
  background: #1f1f1f;
  background-image: linear-gradient(to right, #1f1f1f, #dab192, rgba(44, 44, 44, 0.6));
  margin-bottom: 1em;
}

.books-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4em;
  padding-top: 1em;
}

.text-div {
  width: 300px;
  padding: 5em;
  padding-top: 11em;
}

.end-text {
  display: block;
  font-family: Sarabun;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  margin-bottom: 1em;
}

.sorry-text {
  font-family: Sarabun;
  font-size: 30px;
  font-weight: normal;
  text-align: center;
  color: #FFFFFF;
  margin: 3em auto;
  height: 500px;
  width: 500px;
}

a {
  color: #dab192;
}