.App {
  background: radial-gradient(600.65px at 75.11% 95.85%, rgba(104, 104, 104, 0.7735) 0%, #1F1F1F 100%), #1F1F1F;
  height: 100vh;
  font-family: 'Sarabun', sans-serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 25vh;
  width: 550px;
}

.wrong-path {
  font-family: Sarabun;
  color: #ffffff;
  text-align: center;
  margin-top: 10em;
}
